name: Deploy to Web Server

on:
  push:
    branches:
      - main  # Trigger on push to the main branch

jobs:
  deploy:
    runs-on: ubuntu-latest  # Use an Ubuntu runner

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Install SSH client & SSH pass
        run: |
          sudo apt-get update
          sudo apt-get install openssh-client sshpass -y

      - name: SSH into server and deploy
        run: |
          sshpass -p "${{ secrets.vmpass }}" ssh -o StrictHostKeyChecking=no paria@secondary.ccstiet.com \
            'cd /home/paria/backend/Portfolio && \
             echo "${{ secrets.vmpass }}" | sudo -S git -c core.askpass=true pull && \
             echo "${{ secrets.vmpass }}" | sudo -S docker compose up --build -d'
          echo "Allowing Node.js Program to start properly"
          echo "Entering into sleep for 10 seconds.. Kindly wait..."
          sleep 10

      - name: Check API Status with Retry
        run: |
          for i in {1..3}; do
            RESPONSE=$(curl --write-out "%{http_code}" --silent --output /dev/null http://pariansh.tech/)
            if [ "$RESPONSE" -eq 200 ]; then
              echo "API is up and running!"
              exit 0
            else
              echo "API returned status code $RESPONSE, retrying in 10 seconds..."
              sleep 10
            fi
          done
          echo "API failed to start after multiple attempts"
          exit 1
